<% if @error %>
<h3><%= render partial: '/errors', locals: {instance: @cocktail } %></h3>
<% end %>

 <div class="container">
  <ul class ="ks-cboxtags">
<%= form_for cocktail, url:url do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

   <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :image %>
    <%= f.url_field :image %><br>
    
    <%= f.fields_for :cocktail_ingredients do |ci| %>
     <li><%= ci.collection_select :ingredient_id, Ingredient.by_name, :id, :name, prompt: true %></li>
     <%= ci.text_field :amount %>
    <% end %>

    <%= f.date_field :date_created %>
  <%= f.submit %>
<% end %>
</ul>
</div>
