<% if @error %>
<h3><%= render partial: '/errors', locals: {instance: @cocktail } %></h3>
<% end %>

 <div class="container">
  <ul class ="ks-cboxtags">
<%= form_for cocktail, url:url do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

   <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :image %>
    <%= f.url_field :image %><br>

    <%= f.fields_for :cocktails do |i| %>
          <%= i.collection_select :cocktail_ingredient_ids, CocktailIngredient.all, :id, :amount, { label: "Amount" } %>
    <% end %>


    <li><%= f.collection_check_boxes :ingredient_ids, Ingredient.all.uniq, :id, :name%><br></li>

  <%= f.fields_for :ingredients, cocktail.ingredients.build do |ingredient| %>
    <%= ingredient.label :name, "Other Ingredient" %><br>
    <%= ingredient.text_field :name %>
  <% end %>

    <%= f.date_field :date_created %>
  <%= f.submit %>
<% end %>
</ul>
</div>
