
<header>
  <h1><%=@cocktail.title%></h1>
</header>
<div class="cocktail-show">

  <img src="<%= @cocktail.image %>" alt="cocktail"><br>

<div class="tasks">
<h1>Ingredients Needed </h1>
  <% @cocktail.ingredients.all.each do |ingredient| %>
  <label>
    <h2><%= ingredient.name %></h2>
  </label>
  <% end %>
  
<p>
<% @cocktail.cocktail_ingredients.all.each do |f| %>
  <%= f.amount %>
<% end %>
</p>

<% if @cocktail.user_id == current_user.id %>
  <button><%= link_to "Edit Cocktail", edit_user_cocktail_path(current_user) %></button>
  <%= form_tag user_cocktail_path(@cocktail.user_id), :method => "delete"  do %>
    <%= submit_tag "Delete Cocktail" %>
  <% end %>
<% end %>

<div>
