<div class="user-show">
  <header>
    <h1>
      <%= "#{@user.first_name}'s Cocktails" %>
    </h1>
  </header>

    <button><%= link_to "Create Cocktail", new_user_cocktail_path(@user)%></button><br><br>

  <div class="card-container">
      <% @user.cocktails.each do |c| %>
        <div class="cocktail-card">

        <img src="<%= c.image %>" alt="cocktail"><br>
        <h2>
          <%= link_to c.title, cocktail_path(c) %><br>
        </h2>
          <%= c.date_created %>
        </div>
      <% end %>
  </div>
</div>

